.kategori-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
}
.video-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.video-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 10px;
}
.video-card h2{
    margin: 15px 0;
    font-weight: bold;
    font-size: 28px;
}
.video-card p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}